In [60]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
!pip install pyyaml h5py
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


#import from google drive
from google.colab import drive
drive.mount('/content/drive')

#  Import and read the charity_data.csv.
import pandas as pd 
churn_df = pd.read_csv("/content/drive/My Drive/customer_churn_small.csv")
churn_df.head()

Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (3.13)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from h5py) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from h5py) (1.15.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   city  gender  registered_via  ...  membership_expire_date  cancelled  is_churn
0    13  female               9  ...                20170429          0         0
1    22    male               3  ...                20170421          0         0
2    10  female               3  ...                20170530          0         0
3    13  female               9  ...                20170430          0         0
4     6    male               7  ...                20170406          0         0

[5 rows x 21 columns]

In [68]:
#Change values of gender to binary number 
churn_df=pd.get_dummies(churn_df,columns=["gender"])
churn_df.head()

   city  registered_via  registered_on  ...  is_churn  gender_0  gender_1
0    13               9       20061213  ...         0         0         1
1    22               3       20131017  ...         0         1         0
2    10               3       20120723  ...         0         0         1
3    13               9       20100522  ...         0         0         1
4     6               7       20150906  ...         0         1         0

[5 rows x 22 columns]

In [69]:
# Remove is churn outcome target from features data
y = churn_df['is_churn'].values
X = churn_df.drop(['is_churn'],1).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [70]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [71]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80  
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_19 (Dense)             (None, 80)                1760
_________________________________________________________________
dense_20 (Dense)             (None, 30)                2430
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 31
=================================================================
Total params: 4,221
Trainable params: 4,221
Non-trainable params: 0
_________________________________________________________________

In [72]:
# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [73]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=-1000)

In [74]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

782/782 - 1s - loss: 0.6593 - accuracy: 0.7168
Loss: 0.6593456268310547, Accuracy: 0.7168400287628174